<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="refresh" content="text/html;charset=UTF-8" />
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=7,8,edge" />
  <meta name="theme-color" content="#22e3ff" />
  <meta property="og:image" content="image/search-logo.svg">
  <link rel="shortcut icon" href="image/search-logo.svg" />
  <link rel="stylesheet" href="css/index.css">
  <script src="js/index.js"></script>
  <title>ExaLib</title>
</head>
<body>
  <p align="center">
<img src="image/exalib.png" alt="exalib" width="170" height="70"/>
</p>
<div align="center" class="">
<input type="search" name="" id="input-text-search" placeholder="Cari..." />
<input type="button" name="" id="input-btn-search" value="Cari" />
<p></p>
<span>Cari Apapun Ya di ExaLib Aja</span>
<p></p>
<a href="https://about.exalib.com/privacy-policy">Privacy Policy</a>
&nbsp;
<a href="https://about.exalib.com/">Tentang Kami</a>
<p>
  <span>Kontak Kami</span>
  <p></p>
  <div class="contact-exalib">
  <a href="mailto:help@exalib.com"><img src="image/mail.svg" alt="em" width="20" height="20"/></a>
  <a href="http://kirimmi.com/exalib"><img src="image/kirimmi.svg" alt="km" width="20" height="20"/></a>
  <a href="http://twitter.com/exalib"><img src="image/twitter.svg" alt="tw" width="20" height="20"/></a>
  <a href="http://facebook.com/exalib"><img src="image/facebook.svg" alt="fb" width="20" height="20"/></a>
  <a href="http://instagram.com/exalib"><img src="image/instagram.svg" alt="ig" width="20" height="20"/></a>
  </div>
</p>
<span>2022 &copy; ExaLib Team</span>
</div>
</body>
</html>